{% extends 'base.html.twig' %}
{% block title %}By source or destination ips{% endblock %}

{% block body %}
    {% include('navigation.html.twig') %}
    <h1>Source Destination Ips! ✅</h1>

{% endblock %}
