{% extends 'base.html.twig' %}

{% block title %}Hello UserLogdbController!{% endblock %}

{% block body %}
    {% include('navigation.html.twig') %}
<div>

    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/mhosp/projectLogdb/logdb/src/Controller/UserLogdbController.php'|file_link(0) }}">src/Controller/UserLogdbController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/mhosp/projectLogdb/logdb/templates/user_logdb/index.html.twig'|file_link(0) }}">templates/user_logdb/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
