{% extends 'base.html.twig' %}

{% block title %}Hello UserLogdbController!{% endblock %}

{% block body %}
    {% include('navigation.html.twig') %}
<div>
    <h1 class="card-title mt-3 text-center" style="color: #ffffff">Welcome {{ username }}! </h1>

</div>
{% endblock %}
