<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <style>

            body {
                background-image: url("https://backgroundcheckexpress.files.wordpress.com/2015/04/dollarphotoclub_66600379-1.jpg");
                -webkit-background-size: cover;
                -moz-background-size: cover;
                background-size: cover;
                -o-background-size: cover;
            }

        </style>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            <link href="../assets/bootstrap-4.0.0/dist/css/bootstrap.css" rel="stylesheet" />

            <link href="../assets/bootstrap-4.0.0/dist/css/bootstrap-theme.css" rel="stylesheet" />

        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
        <div class="bg"></div>
        {% block javascripts %}
            <script src="../assets/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
